{% load static%}
<!DOCTYPE html>
<html lang="es">
    <head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-188442846-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-188442846-1');
		</script>

		{# Cargamos la librería #}
		{% load bootstrap4 %}
		{# CSS Bootstrap #}
		{% bootstrap_css %}
		{% load static %}
		
		<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>		

		<link rel="shortcut icon" href="{% static 'mapa/images/favicon.ico' %}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />				
		<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Roboto&display=swap'>
		<link rel='stylesheet' type='text/css' href="{% static 'mapa/style.css'%}">
		<link rel='stylesheet' type='text/css' href="{% static 'mapa/bubble.css'%}">
		
        <title>Analytics plataforma COVID-19</title>	
		<style>
		.nobr { white-space: nowrap }
		</style>
    </head>
    <body>
		<div class="completo">
			<div class="container-fluid">
				{% include "mapa/header.html" %}
			<div class="d-block">
				<iframe title="Dashboard Power BI" class="mx-auto d-flex" width="1500" height="800" src="https://app.powerbi.com/view?r=eyJrIjoiYTQwY2RiMjktMzBiYi00NDdhLTliMmEtOWI3Yjk2NTQ2NWEzIiwidCI6ImU3OTg0Y2FjLTI1NDMtNGY4OC04Zjk3LTk1MjQzMzVlNmJjNCIsImMiOjR9&pageName=ReportSectiona12781773a0250ecd2b0" frameborder="0" allowFullScreen="true"></iframe>
			</div>
			<div id="hora"> </div>
			
			<div id="creditos"> Desarrollado por
				<a id="ucr-credits" data-bubbleid="ucr-bubble" href="https://www.ucr.ac.cr/"> Universidad de Costa Rica | </a>
				<a id="od-credits"  data-bubbleid="od-bubble"  href="">Observatorio del Desarrollo</a>
			</div>
		</div>
		{% include "mapa/credits.html" %}
    {% bootstrap_javascript jquery='full' %}
    </body>
</html>