<div id="ucr-bubble" class="BubbleDiv" style="display:none;z-index:99999">
    <div class="BubbleShadow">
      <div class="Bubble">
        <div class="BubbleHeader">
          <div class="BubbleTitle">Colaboradores</div>
          <div class="BubbleCloseBtn"></div>
        </div>
        <div class="BubbleContent">
          <p>Diego Quirós M. </br><a href="mailto:diegodavid.quiros@ucr.ac.cr" target="blank">Docente UCR </a>/
                    <a href="mailto:diego123cr@gmail.com" target="blank">Consultor ANT</a></p>
          <p>Sebastián Cruz Ch.</br><a href="mailto:sebastian.cruzchavarria@ucr.ac.cr" target="blank">Ingeniero de software</a></p>
          <p>Ricardo Huapaya R.</br><a href="mailto:ricardo.huapaya@ucr.ac.cr" target="blank">Estudiante UCR</a></p>
        </div>
        <div class="bottomLeftArrow"></div>
        <div class="bottomRightArrow"></div>
        <div class="topLeftArrow"></div>
        <div class="topRightArrow"></div>
      </div>
    </div>
</div>