{% load static %}

<div class="row fila1">
    <div class="col-4">
        <div class="d-flex justify-content-start align-items-center h-100 flex-wrap">
            <img alt="Logo MS" src="{% static 'mapa/images/salud.png' %}" width="139" height="60" class="mx-1 my-1">
            <img alt="Logo CCSS" src="{% static 'mapa/images/ccss.png' %}" width="55" height="55" class="mx-1 my-1">
            <img alt="Logo OPS" src="{% static 'mapa/images/ops.png' %}" width="90" height="38" class="mx-1 my-1">
            <img alt="Logo Mideplan" src="{% static 'mapa/images/mideplan.png' %}" width="130" height="49" class="mx-1 my-1">
            <img alt="Logo 911" src="{% static 'mapa/images/emergencias.png' %}" width="45" height="54" class="mx-1 my-1">
        </div>
    </div>
    <div class="col-4 text-center">
        
      <h2>PANEL CONTROL SALA SITUACION</h2>
      </br>
      <h5>Plataforma Nacional | Situación COVID-19</h5>
    </div>
    <div class="col-4">
        <div class="d-flex justify-content-end align-items-center h-100">
            <img alt="Logo UCR" src="{% static 'mapa/images/UCR_h.png' %}" width="200" height="75px">
        </div>
    </div>
  </div>